body{

font-family: Arial, Helvetica, sans-serif;
background-color: gainsboro;
margin: 0%;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.container{

background-color: white(130, 44, 44);
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0,0, 1);

}

h1{
text-align: center;
color: rgb(5, 5, 58);

}

form{
  display: flex;
flex-direction: column


}
label{

margin-bottom: 5px;

}

input,select{

padding: 8px;
margin-bottom: 25px;
border: 2px solid rgb(212, 204, 204);
border-radius: 8px;
font-size: 16px;

}

button{

 background-color: #0056b3;  
color: whitesmoke;
border: none; 
padding: 10px;
border-radius: 8px;
cursor: pointer;
margin-bottom: 10px;


}

button:houver{

background-color: aliceblue;
color: black;

}



button a{
  color: white;
  text-decoration: none;

}